/* FAQ PAGE */
/* faq */

.faq {
  background: var(--color-cyan);
}

.faq .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  padding-bottom: 80px;
}

.faq-tables {
  padding: 30px 20px;
  border-radius: 3px;
  background: var(--color-white);
}

.faq__title {
  font-weight: 500;
}

.table-5 {
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(4, 43, 70, 0.3);
  overflow-x: auto;
}

.table-6 {
  margin-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(4, 43, 70, 0.3);
  overflow-x: auto;
}

.table-7 {
  margin-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(4, 43, 70, 0.3);
  overflow-x: auto;
}

.table-7 > .faq__table:nth-child(3) {
  margin-top: 0px;
}

.table__color-1 {
  background-color: var(--color-cyan);
}

.table__color-2 {
  background-color: var(--color-white);
}

.faq__table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
  border-radius: 3px;
  border: 0.5px solid rgba(0, 0, 0, 0.3);
}

.faq__table-text {
  color: var(--color-dark-blue);
  font-size: 17px;
  font-weight: 500;
}

.table-5 > .faq__table .faq__table-body tr:nth-child(odd) {
  background: var(--color-cyan);
}

.table-6 > .faq__table .faq__table-body tr:nth-child(even) {
  background: var(--color-cyan);
}

.table-7 > .faq__table .faq__table-body tr:nth-child(even) {
  background: var(--color-cyan);
}

.faq__table-head,
.faq__table-head-2 {
  background: var(--color-blue) !important;
}

.faq__table-head > tr,
.faq__table-head-2 {
  height: 50px;
  padding: 6px;
  color: var(--color-cyan);
  font-size: var(--font-text);
  font-weight: 600;
}

.faq__table-body > tr > td {
  height: 30px;
  padding: 6px;
  color: var(--color-dark-blue);
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}

.faq__table-head > tr > th,
.faq__table-head-2 > th {
  border: 0.5px solid rgba(0, 0, 0, 0.3);
}

.faq__table-body > tr > td {
  border: 0.5px solid rgba(0, 0, 0, 0.3);
}

.faq__rules-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 40px;
}

.faq__rules-title {
  color: var(--color-dark-blue);
  font-weight: 500;
}

.faq__rules-top {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  border-bottom: 1px solid rgba(4, 43, 70, 0.3);
}

.faq__rules-inner {
  display: flex;
  gap: 50px;
  padding-bottom: 30px;
}

.faq__rules-subtitle {
  text-align: center;
}

.faq__rules-right,
.faq__rules-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.faq__rules-left h4 {
  color: var(--color-blue);
  text-align: center;
  font-weight: 500;
}

.faq__rules-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.faq__bottom-inner {
  display: flex;
  gap: 40px;
}

.faq__bottom-left {
  max-width: 412px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.faq__bottom-left img {
  padding: 0 6px;
}

.faq__bottom-subtitle {
  color: var(--color-dark-blue);
  font-weight: 500;
}

.faq__bottom-right {
  max-width: 412px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* media */

@media (max-width: 1024px) {
  .faq .container {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0px;
  }

  .faq .container .section-title {
    padding: 0 20px;
  }

  .faq__rules-inner {
    gap: 10px;
  }

  .faq__bottom-inner {
    gap: 10px;
  }

  .faq__bottom-left {
    width: 50%;
  }

  .faq__bottom-right {
    width: 50%;
  }

  .faq__table-head > tr > th,
  .faq__table-head-2 > th {
    font-size: 14px;
    font-weight: 600;
  }

  .faq__table-body > tr > td {
    font-size: 17px;
    font-weight: 500;
  }

  .faq-tables {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
  }
}

@media (max-width: 590px) {
  .faq__rules-inner {
    flex-direction: column;
  }

  .faq__bottom-inner {
    flex-direction: column;
  }

  .faq__table-head > tr > th,
  .faq__table-head-2 > th {
    font-size: 13px;
    padding: 0px 3px;
  }

  .faq__table-body > tr > td {
    font-size: 13px;
    font-weight: 600;
  }

  .faq-tables {
    padding-top: 20px;
  }

  .faq__title {
    font-size: 20px;
  }

  .faq__rules-wrapper {
    margin-top: 20px;
  }

  .faq__rules-top {
    margin-top: 20px;
  }

  .faq__rules-title {
    font-size: 20px;
  }

  .faq__bottom-right,
  .faq__bottom-left {
    gap: 20px;
  }

  .faq__rules-inner {
    padding-bottom: 20px;
  }

  .faq__bottom-left {
    width: 100%;
  }

  .faq__bottom-right {
    width: 100%;
  }
}
