/* CONT PAGE */
/* cont */

.cont {
  padding: 0 0 80px 0;
  background: var(--color-cyan);
}

.cont .container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.cont__service-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.cont__service-block {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.cont__service-title {
  color: var(--color-dark-blue);
  font-weight: 500;
  letter-spacing: -0.32px;
}

.cont__service-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cont__service-adress,
.cont__service-phone,
.cont__service-mail,
.cont__service-time,
.cont__service-help {
  color: var(--color-dark-blue);
  font-size: var(--font-menu);
  font-weight: 500;
}

.cont__service-adress a,
.cont__service-phone a,
.cont__service-mail a {
  color: var(--color-blue);
  font-size: var(--font-text);
  font-weight: 500;
}

.cont__service-time span,
.cont__service-help span {
  color: var(--color-blue);
  font-size: var(--font-text);
  font-weight: 500;
}

.cont__service-adress a:hover,
.cont__service-phone a:hover,
.cont__service-mail a:hover {
  text-decoration: underline;
}

.cont__service-time span:hover,
.cont__service-help span:hover {
  text-decoration: underline;
  cursor: pointer;
}

.cont__service-map {
  max-width: 701px;
  max-height: 500px;
  border-radius: 3px;
}

/* media */

@media (max-width: 1024px) {
  .cont__service-info {
    gap: 10px;
  }

  .cont__service-adress,
  .cont__service-phone,
  .cont__service-mail,
  .cont__service-time,
  .cont__service-help {
    font-size: 19px;
  }

  .cont__service-block {
    gap: 25px;
  }
}

@media (max-width: 590px) {
  .cont {
    padding: 0 0 40px 0;
  }

  .cont .container {
    gap: 20px;
  }

  .cont__service-adress,
  .cont__service-phone,
  .cont__service-mail,
  .cont__service-time,
  .cont__service-help {
    font-size: 17px;
  }

  .cont__service-adress a,
  .cont__service-phone a,
  .cont__service-mail a {
    font-size: 15px;
  }

  .cont__service-title {
    font-size: 24px;
  }

  .cont__service-wrapper {
    flex-direction: column;
  }
}
