/* CARD PAGE */
/* card */

.card {
  background: var(--color-cyan);
}

.card .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 80px;
}

.card-tables {
  margin-top: -250px;
  padding: 30px 20px;
  border-radius: 3px;
  background: var(--color-white);
}

.table-1,
.table-2 {
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(4, 43, 70, 0.3);
}

.table-3 {
  margin-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(4, 43, 70, 0.3);
}

.table-4 {
  margin-top: 20px;
}

.card__container-inner {
  margin-bottom: 20px;
}

.card__description-wrapper {
  display: flex;
  gap: 20px;
  padding: 0 26px;
}

.card__text-wrapper {
  max-width: 620px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
}

.card__img {
  max-width: 450px;
  max-height: 260px;
}

.card__text-title {
  color: var(--color-dark-blue);
  font-size: 24px;
  font-weight: 500;
}

.card__text {
  color: var(--color-dark-blue);
  font-size: 17px;
  font-weight: 500;
}

.card__table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 3px;
  border: 0.5px solid rgba(0, 0, 0, 0.3);
}

.card__table-head {
  background: var(--color-blue);
}

.card__table-head > tr > th {
  height: 50px;
  padding: 6px;
  color: var(--color-cyan);
  font-size: var(--font-text);
  font-weight: 600;
}

.card__table-head > tr > th {
  border: 0.5px solid rgba(0, 0, 0, 0.3);
  font-size: 13px;
}

.card__table-body > tr > td {
  border: 0.5px solid rgba(0, 0, 0, 0.3);
  font-size: 13px;
}

.card__table-body tr:nth-child(even) {
  background: var(--color-cyan);
}

.card__table-body > tr > td {
  height: 30px;
  padding: 6px;
  color: var(--color-dark-blue);
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}

.card__table-body > tr > td:nth-child(-n + 2) {
  text-align: left;
}

.card__btn {
  width: 354px;
  margin-top: 40px;
}

/* media */

@media (max-width: 1024px) {
  .card .container {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 60px;
  }

  .head-2 {
    height: 199px;
  }

  .head-2__title {
    font-size: 48px;
    padding: 30px 0;
  }

  .card-tables {
    margin-top: -20px;
  }

  .card__description-wrapper {
    padding: 0px;
  }
}

@media (max-width: 590px) {
  .card .container {
    align-items: flex-start;
    padding-bottom: 40px;
  }

  .head-2 {
    height: 137px;
  }

  .head-2__title {
    font-size: 28px;
    padding: 20px 0;
  }

  .card-tables {
    padding: 20px;
    margin-top: -30px;
  }

  .card__description-wrapper {
    width: 60%;
    flex-direction: column;
    gap: 15px;
  }

  .card__text-title {
    font-size: 20px;
  }

  .card__text {
    font-size: 15px;
  }

  .card__text-wrapper {
    width: auto;
    gap: 20px;
  }

}

@media (max-width: 375px) {
  .head-2 {
    height: 173px;
  }
  .card__description-wrapper {
    width: 45%;
  }
}

