/* SERT PAGE */
/* sert */

.sert {
  padding: 0 0 80px 0;
  background: var(--color-cyan);
}

.sert .container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.sert__container-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.sert__image {
  max-width: 598px;
  max-height: 850px;
  border-radius: 3px;
  border: 1px solid rgba(4, 43, 70, 0.3);
}

/* media */

@media (max-width: 1024px) {
  .sert .container {
    gap: 30px;
  }

  .sert__image {
    height: 500px;
  }
}

@media (max-width: 590px) {
  .sert {
    padding: 0 0 40px 0;
  }

  .sert .container {
    gap: 20px;
  }
}
