/* SALE PAGE */
/* sale */

.sale {
  padding: 0 0 80px 0;
  background: var(--color-cyan);
}

.sale .container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.sale__container-inner {
  display: flex;
  align-items: flex-start;
  gap: 124px;
}

.sale__wrapper-text {
  max-width: 595px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sale__title {
  color: var(--color-dark-blue);
  font-weight: 500;
}

.sale__text {
  color: var(--color-dark-blue);
  font-size: var(--font-text);
  font-weight: 500;
  text-align: justify;
}

.sale__wrapper-list {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.sale__list-title {
  color: var(--color-dark-blue);
  font-weight: 500;
}

.sale__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 32px;
}

.sale__list li {
  list-style: inherit;
}

.sale__list-item {
  color: var(--color-dark-blue);
  font-size: var(--font-text);
  font-weight: 500;
  text-align: justify;
}