/* INDEX PAGE */
/* products */

.products {
  padding-bottom: 80px;
  background: var(--color-cyan);
}

.products .container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.products__cards {
  display: flex;
  gap: 20px;
}

.products__card {
  width: 289px;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease-out;
  cursor: pointer;
}

.products__card:hover {
  box-shadow: 0px 7px 14px 0px rgba(4, 43, 70, 0.7);
}

.products__card-img {
  border-radius: 3px 3px 0px 0px;
}

.products__card-text {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 25px 18px 25px;
  color: var(--color-white);
  font-size: 19px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  border-radius: 0px 0px 3px 3px;
  background: var(--color-blue);
}

/* blog */

.blog {
  padding-top: 80px;
  padding-bottom: 80px;
  background: var(--color-white);
}

.blog .container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.blog__articles {
  display: flex;
  justify-content: space-between;
}

.article {
  max-width: 506px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  cursor: pointer;
}

.article:hover > .article__title {
  text-decoration: underline;
}

.article__title {
  color: var(--color-blue);
  font-size: 24px;
  font-weight: 500;
}

.article__wrapper {
  display: flex;
}

.article__img {
  max-width: 320px;
  max-height: 226px;
  margin: 0 20px 22px 0;
}

.article__wrapper-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.article__text {
  color: var(--color-dark-blue);
  font-size: var(--font-text);
  font-weight: 500;
  text-align: left;
}

.article__btn {
  width: 300px;
}

/* about */

.about {
  padding: 80px 0 60px 0;
  background: var(--color-cyan);
}

.about .container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.about__slider-img {
  width: 186px;
  height: 265px;
  border-radius: 3px;
  border: 1px solid rgba(4, 43, 70, 0.3);
}

.about__slider-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.about__wrapper-title {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.about__silider-title {
  color: var(--color-dark-blue);
  font-size: 21px;
  font-weight: 500;
}

.about__silder-subtitle {
  color: var(--color-dark-blue);
  font-size: 15px;
  font-weight: 500;
}

.about__slider-text h4 {
  color: var(--color-dark-blue);
  font-size: 24px;
  font-weight: 500;
}

.about__slider-nav {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}

/* media */

@media (max-width: 1280px) {
  .products {
    padding-bottom: 40px;
  }

  .products .container {
    gap: 30px;
  }

  .products__cards {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .products__card {
    width: 345px;
  }

  .products__card-text {
    padding: 0;
  }

  .blog {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .blog .container {
    gap: 30px;
  }

  .blog__articles {
    flex-direction: column;
    gap: 20px;
  }

  .article {
    max-width: 100%;
    width: 100%;
  }

  .article__wrapper-text {
    justify-content: flex-start;
  }

  .article__img {
    max-width: 320px;
    max-height: 226px;
  }

  .about {
    padding: 40px 0 46px 0;
  }

  .about .container {
    gap: 30px;
  }
}

@media (max-width: 580px) {
  .article__wrapper {
    flex-direction: column;
  }

  .article__img {
    margin: 0 0 20px 0;
  }

  .article__btn {
    width: 100%;
  }

  .about__slider-text h4 {
    font-size: 17px;
  }
  
  .swiper-slide {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 425px) {
  .products__card {
    width: 320px;
  }
}
