/* NEWS PAGE */
/* news */

.news {
  padding: 0 0 80px 0;
  background: var(--color-cyan);
}

.news .container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.news__container-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 30px;
}

.news__card {
  max-width: 509px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.news__card:hover {
  cursor: pointer;
}

.news__card:hover h4 {
  text-decoration: underline;
}

/* .news__card:hover .btn:before {
  opacity: 1;
} */

.news__card-title {
  color: var(--color-blue);
  font-size: 24px;
  font-weight: 500;
}

.news__card-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.news__card-text {
  color: var(--color-dark-blue);
  font-size: 17px;
  font-weight: 500;
}

.news__btn {
  width: 300px;
  margin-top: 20px;
}

/* media */

@media (max-width: 1024px) {

  .news {
    padding: 0 0 60px 0;
  }

  .news__container-inner {
    row-gap: 20px;
  }

  .news__card {
    width: 100%;
    max-width: 100%;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(4, 43, 70, 0.3);
  }
}

@media (max-width: 590px) {
  .news .container {
    gap: 30px;
  }

  .news {
    padding: 0 0 40px 0;
  }
}
